# Created by .ignore support plugin (hsz.mobi)
# Python template

*.py[cod]
*$py.class
.Python
.cache
app/static/drops_html/
*.sqlite
*.idea
*.[oa]
migrations
*.so
*.egg
*.egg-info
dist
build
*.cache


