{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} 关于 {% endblock %}

{% block content %}
<div class="page-header">

</div>
<div class="container">
    <div>
            <div class="post-content">
                {% if posts.body_html %}
                {{posts.body_html | safe}}
                {% else %}
                {{posts.body}}
                {% endif %}
                <div class="post-footer">
                    {% if current_user == posts.author %}
                     <a href="{{url_for('.edit', id=posts.id)}}">
                        <span class="label label-default">Edit</span>
                    </a>
                    {% elif current_user.is_administrator()%}
                     <a href="{{url_for('.edit', id=posts.id)}}">
                        <span class="label label-default">Edit[Admin]</span>
                    </a>
                    {%endif%}
                </div>
            </div>
    </div>
</div>

{% endblock %}

{% block scripts%}
{{super()}}
{{pagedown.include_pagedown()}}
{% endblock%}
