{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} 关于 {% endblock %}

{% block content %}
    <div class="container ">
        <div class="navbar ">
            <div class="navbar page-header">
                <p class="text-info">{{ posts.title }}</p>
                <p class="text-info"><h5>Nine | 阅读：{{ posts.view_count }}</h5></p>
            </div>
            <div>
                <div class="post-content ">
                    {% if posts.body %}
                        {{ posts.body | safe }}
                    {% else %}
                        {{ posts.content }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
