{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} 文章 {% endblock %}

{% block page_content %}
    <div class="page-header">

        <h3>
            Show you something interesting!
        </h3>

        <input class="btn btn-toolbar"  id="search" name="search" type="search" value="搜索">


    </div>
    <div>
        {% include '_posts.html' %}
    </div>
    {% import "_macros.html" as macros %}
    {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, '.article_list') }}
        </div>
    {% endif %}
{% endblock %}
{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
{% endblock %}