{% extends "bootstrap/base.html" %}
{{ super() }}
{% block title %} Nine {% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Tpggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Nine</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">首页</a></li>
                    <li><a href={{ url_for('main.article') }}>文章</a></li>
                    <li><a href={{ url_for('main.about') }}>关于</a></li>
                    <li><a href={{ url_for('main.drops') }}>Drops</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if not current_user.is_authenticated %}
                    <li><a href={{ url_for('auth.login') }}>Sign In</a></li>
                    {% else %}
                    <li><a href={{ url_for('auth.logout') }}>Sign Out</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}