{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} Drops {% endblock %}

{% block page_content %}
    <div class="page-header">

        <h1>
            Show you something interesting!
        </h1>

    </div>
    <table>
        {% for post in posts %}
            <tr>
                <td id="{{ post.id }}">
                    <a href="{{ url_for('main.per_drops', drops_name=post.path) }}"
                       target="_blank">{{ post.name }}</a>
                </td>
                <td align="right" width="100">
                    <a type="submit">已阅</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    {% import "_macros.html" as macros %}
    {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, '.drops') }}
        </div>
    {% endif %}
{% endblock %}