{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} {{post.title}} {% endblock %}
{% block page_content %}
<div>
    <ul class="posts">

            <div class="navbar">
                <p class="text-info"><h1>{{post.title}}</h1></p>
                <p class="text-info">Admin | 阅读：{{post.view_count}} | {{ post.create_time.strftime('%Y-%m-%d') }}</p>
            </div>
            <div class="post-content">
                {% if post.body %}
                {{post.body | safe}}
                {% else %}
                {{post.content}}
                {% endif %}
            </div>

    </ul>
</div>
{% endblock %}